// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '../js/components/Public/Posts/Posts';
@import '../js/components/Public/Header/Header';
@import '../js/components/Public/Categories/Categories';
@import '../js/components/Public/Profile/Profile';
@import '../js/components/Public/Posts/FullPost';
@import '../js/components/Public/MainPage/MainPage';
@import '../js/components/Admin/AdminHeader/AdminHeader';


.spinner-block {
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
}

