.main-page-auth {
  display: flex!important;
  justify-content: center;
  align-items: center;
}

.auth-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
        margin-left: 10px;
    }
    margin-bottom: 20px;
}
