.main-page-auth {
  display: flex!important;
  justify-content: flex-end;
  align-items: center;
    width: 100%;
}

.auth-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
        margin-left: 10px;
    }
}
